.header {
    width: 500px;
    margin: 0 auto;
    padding-top: 30px;
}
.header ul {
    background: #bbada0;
    padding: 10px;
    border-bottom: 1px #CCC0B3 solid;
}
.header ul li {
    display: inline-block;
}
.header ul li:last-child {
    float: right;
    margin-right: 10px;
}
.header ul li {
    height: 40px;
    line-height: 40px;
    margin-left: -4px;
    vertical-align: bottom;
}
.header ul li:first-child {
    margin-left: 0;
}
.header ul li a.new-game,
.header ul li a.private-game {
    display: block;
    padding: 0 10px;
    margin: 6px auto 0;
    font-size: 30px;
    text-align: center;
    background: #bbada0;
}
.header ul li a.new-game:hover,
.header ul li a.private-game:hover {
    opacity: .8;
}
.header ul li p {
    font-size: 20px;
    margin: 6px auto 0;
}
#grid-container {
    position: relative;
    width: 460px;
    height: 460px;
    padding: 20px;
    margin: 0px auto;
    background-color: #bbada0;
}
#grid-container .grid-cell {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #ccc0b3;
}
#grid-container .number-cell {
    position: absolute;
    font-weight: bold;
    font-size: 36px;
    line-height: 100px;
    text-align: center;
}